body {
    justify-content: center;
}

.joycon-container {
    display: block;
    justify-content: center;
}
.text-output {
    display: flex;
    justify-content: center;
}
.text-output input {
    width: 500px;
    height: 80px;
    box-shadow: 0px 0px 10px grey;
    margin-bottom: 32px;
    margin-top: 32px;
    border-radius: 25px;
}
.joycon-pad {
    display: flex;
    justify-content: center;
}
.joycon-pad p{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', 'Century Gothic';
    font-weight: 600;
}
.joycon-pad-left {
    background-color: #A7ECEE;
    align-items: center;
    display: block;
    padding: 48px;
    border-radius: 25px 0px 0px 25px;
    box-shadow: -5px 0px 10px rgb(128,128,128, 0.5);
}
.joycon-pad-left-button {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    border: 2px solid;
    align-items: center;
    padding: 32px;
    border-radius: 20px;
    margin: 8px;
    width: 120px;
    font-size: 24px;
}
.joycon-pad-left-bottom {
    display: flex;
    justify-content: center;
}
.joycon-pad-left-top {
    display: flex;
    justify-content: center;
}
.joycon-pad-right {
    background-color: #ECF8F9;
    align-items: center;
    display: flex;
    padding: 104px;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 5px 0px 10px rgb(128,128,128, 0.5);
}
.joycon-pad-right-button {
    background-color: #F2D8D8;
    border: 2px solid;
    align-items: center;
    padding: 4px;
    border-radius: 20px;
    margin: 8px;
    width: 120px;
    font-size: 24px;
    padding: 32px;
}
.joycon-pad-left-button:hover {
    background-color: #FFE569;
}
.joycon-pad-right-button:hover {
    background-color: #FEA1A1;
}
.desc{
    display: block;
    margin-top: 32px;
    font-family: 'Poppins';
}
.desc p {
    display: flex;
    justify-content: end;
    margin-right: 180px;
    font-weight: 600;
}
.display-box {
    font-size: 24px;
    color: black;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 600;
    font-family: 'Poppins', 'Century Gothic';
}